/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');

$font: 'Montserrat',
sans-serif;

// main colour variables
$--test-color: #ffcc00;
$--arsenic: #403F4C;
$--space-cadet: #1B264F;
$--dazz-blue: #274690;
$--blue-yond: #576CA8;
$--charl-green: #302B27;
$--white-smoke: #F5F3F5;
// Text colour variables
$--main-text: #000000;
$--main-text-alt: #ffffff;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: $font;
    font-size: 1.02em;
}

nav {
    background-color: $--white-smoke;
    display: flex;
    flex-flow: row wrap;

    ul {
        margin-left: auto;
        align-self: center;
        list-style-type: none;
    }

    li {
        display: inline-block;
    }

    a {
        display: block;
        position: relative;
        padding: 2em;

        color: $--main-text;
        text-decoration: none;
        transition: ease-in 0.3s;

        &:hover {
            color: $--main-text-alt;
            background: #64B6AC;

            &::before {
                content: "";
                width: 0%;
                bottom: 0em;
            }

            &::after {
                content: "";
                position: absolute;
                border: 3px solid $--dazz-blue;
                width: 97%;
                left: 0%;
                bottom: 0em;
            }
        }
    }
}

.card {

    max-width: 20vw;
    background: $--dazz-blue;

    >.card__img {
        max-width: inherit;
    }
}



/* Default styling for the project container */
// #Projects {
//     margin-top: 5vh;
//     display: grid;
//     grid-template-columns: repeat(2, 20vw 1fr 1fr 20vw);
//     grid-template-rows: repeat(4, 5vw);
//     grid-row-gap: 2em;

//     width: 100vw;
//     background-color: var(--test-color);
// }

// .parent {
//     padding: 10vh 10vw; 
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     grid-template-rows: repeat(4, auto 1fr);
//     grid-column-gap: 0px;
//     grid-row-gap: 50px;
// }

// .project--grid{
//     display: inline-grid;
// }

// .div1{
//     grid-area: 1 / 1 ;
// }

// .div1 {
//     grid-area: 1 / 1 / 2 / 2;
// }

// .div2 {
//     grid-area: 2 / 1 / 3 / 2;
// }

// .div3 {
//     grid-area: 3 / 1 / 4 / 2;
// }

// .div4 {
//     grid-area: 4 / 1 / 5 / 2;
// }

// img {
//     max-width: 20vw
// }

// .project--container {
//     grid-column: 2 / 4;
//     display: inline-grid;
// }

// .project--container>.project--title {
//     grid-column: 2 / span 4;
// }

// .project--container img {
//     position: relative;
//     max-width: 20vw;
// }