*, html, body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* height: 100%; */
  height: 50vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFD82;
  background-color: #2D3047;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main > .placeholder {
  min-width: 250px;
}

.placeholder > * {
  height: 1.6em;
}
.placeholder p {
  color: #aaaec9;
}