:root{
    --test-color: #ffcc00;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav{
    background-color: var(--test-color);
    display: flex;
    flex-wrap: wrap;
}

nav > img{
    flex-grow: 4;
    flex-basis: 3vw;
}

nav > ul{
    list-style-type: none;
    flex-grow: 2;
}

nav li {
    display: inline-block;
    margin: 1em;
    padding: 1em;
    background-color: #333;
}

ul > li > a{
    color: #fff;
}