/* FOOTER CSS */
.footer {
  padding: 1rem;
  margin: 0;
  /* background-color: #000000;
  color: #ffffff; */
  background-color: var(--gray-100);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 10rem;
}

/* Padding and Margin reset, does break the UL */
/* .footer * {
  padding: 0;
  margin: 0;
} */

.social {
  grid-column: 1/-1;
  text-align: center;
}

.footer > * {
  /* border: 1px solid red; */
}

.outro {
  grid-column: 1/-1;
  text-align: center;
}

.social ul {
  list-style: none;
  padding: 0;
}
.social li {
  padding: 0.2rem;
}
.social a {
  transition: color 200ms ease-in border-bottom 600ms ease-out;
}
.social a:focus,
.social a:hover {
  color: var(--main-600);
  border-bottom: 2px solid var(--main-600);
}

.outro:focus,
.outro:hover {
  color: red;
}
