.container {
  /* min-height: 100vh; */
  margin: 0;
  padding: 0 2rem;
  background-color: rgba(178, 178, 178, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding-top: 1rem;
}

/* tablet */
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
}
/* laptop */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }
}

.intro {
  padding: 1rem;
  background-color: var(--main-200);
  grid-column: 1 / -1;
}
