.container {
  min-height: 100vh;
  margin: 0;
  padding: 0 2rem;
  /* background-color: #ffcc00; */
}

/* NAVBAR */

.mildShadow {
  box-shadow: 0 4px 6px -6px rgb(170, 170, 170);
}

.navBar > ul {
  /* background-color: #f2f2f2; */
  margin: 0;
  padding: 0.75rem 1rem;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.navBar ul li:first-of-type {
  /* background-color: blueviolet; */
  font-weight: bold;
}

.navBar li {
  padding: 0.5rem 0.5rem;
}